# Dependency directories
node_modules/


public/
images/USZldyN5_2x.jpg
images/istock.jpg
illustrations_svg
run server.txt
build.zip
bg.jpg
default.jpg
faviconold.png
src/app/sort-function.js

# dotenv environment variables file
.env.development
.env.production


*.log
